<% provide(:title, @user.name) %>
<div class="row">

  <div class="user_info col-sm-5 col-12 text-center">
    <h1>
      <%= gravatar_for @user %>
      <%= @user.name %>
    </h1>
  </div>
  <br>
  <div class="app_info col-sm-7 col-12 text-center">
    <div class="list-group">
      <%= link_to 'all my projects', projects_path, class: 'list-group-item list-group-item-action' %>
      <a href="#" class="list-group-item list-group-item-action">all my external projects</a>
      <a href="#" class="list-group-item list-group-item-action">all groups</a>
    </div>
  </div>

</div>