<% provide(:title, "Edit project") %>

<%= render 'projects_form', project: @project %>

<div class="bttn">
  <%= button_to 'back', request.referrer, method: :get, class: 'btn btn-secondary' %>
</div>