<footer class="footer">
  <small>
    group-our-transactions app created by: 
    <a href="https://github.com/firmoholanda">firmo holanda</a>
  </small>
  <nav>
    <ul>
      <li><%= link_to "about", root_path %></li>
      <li><%= link_to "contact", root_path %></li>
    </ul>
  </nav>
</footer>